html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

img {
    border-radius: 50%;
    transition: transform 0.2s;
}

    img:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

a img, a.btn {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    a img:hover, a.btn:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
